.button-primary {
    background-color: $color-secondary;
    font-size: 1.6rem;
    border: none;
    padding: 1.3rem 2rem;
    color: $color-black;
    text-transform: uppercase;
    border-radius: 2px;
    transition: all .2s;

    &:hover {
        background-color: $color-pharlap;
        color: $color-white;
    }

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(1px);
    }
}