.button-wrapper {
    text-align: center;
    margin-top: 5rem;
}

.button {
    &:link,
    &:visited {
        font-size: 1.8rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2.5rem;
        border-radius: 2px;
        transition: all .2s;
    }

    &:hover {
        box-shadow: 0 .5rem 1rem rgba($color-white, .2);
        color: $color-white;
    }

    &:active {
        transform: translateY(1px);
    }

    &-primary {
        background-color: $color-secondary;
        color: $color-black;
    
        &:hover {
            background-color: $color-pharlap;
        }
    }

    &-secondary {
        background-color: $color-black;
        color: $color-secondary;
    
        &:hover {
            background-color: $color-martini;
        }
    }
}

.button-inline:link,
.button-inline:visited {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1rem;
    color: $color-primary;
    background-color: transparent;
    border-bottom: 2px solid $color-primary;
    transition: all .2s;

    &:hover {
        background-color: $color-pharlap;
        color: $color-white;
        box-shadow: 0 .5rem 2rem rgba($color-white, .2);
    }

    &:active {
        transform: translateY(1px);
    }
}