.img-with-box {
    display: flex;

    &__img {
        height: 50rem;
        width: auto;

        display: block;
    }

    &__box {
        border: 1rem solid $color-primary;
        padding: 2rem;
        background-color: $color-white;

        margin-top: 4rem;
        margin-left: -12rem;
        align-self: flex-start;
    }

    &__text {
        font-size: 1.6rem;
        margin: 1.5rem 0 2.5rem 0;
    }
}