.popup {
    position: fixed;
    width: 80%;
    height: auto;
    max-height: 95vh;
    background-color: $color-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    overflow: hidden;
    z-index: 1000;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 5rem 80vh;

    @include respond(br680) {
        max-width: 95%;
        width: 95%;
        grid-template-rows: 5rem 50%;
        overflow-y: scroll;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 500;
        transition: all 0.5s;
    }

    &__header {
        grid-column: 1 / 3;
        height: 5rem;
        background-color: $color-primary;
        text-align: right;
        padding: 0 2rem;
    }

    &__img-wrap {
        grid-column: 1 / span 1;
        overflow: hidden;
        background-color: $color-secondary;

        @include respond(br680) {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    &__content {
        padding: 2rem 3.5rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.5rem;
    }

    &__text {
        font-size: 1.6rem;
    }

    &__button-close {
        font-family: inherit;
        color: $color-white;
        line-height: 5rem;
        font-size: 4rem;
        cursor: pointer;
        border: none;
        background: none;
    }

    &__hidden {
        visibility: hidden;
        opacity: 0;
    }
}