<div class="img-with-box-small">
    <img src="{{roots.images}}{{src}}" alt="{{alt}}" class="img-with-box-small__img">
    <div class="img-with-box-small__box">
        <div class="heading heading--fourth"><b>Kodas:</b> {{code}}</div>
        <div class="img-with-box-small__link"><button type="button" class="button-small">Daugiau</button></div>
        <button type="button" class="button-small button-small--question">?</button>
    </div>
</div>