{{>base/head
  bodyClasses=bodyClasses
}}

    {{>modules/header
        extraHeaderClasses=''
    }}

    <main>

        <section class="generations">
          <div class="row">
            {{>components/img-with-box
              photo='generations.jpg'
              alt='Iš kartos į kartą'
              head='Iš kartos į kartą'
              text='“Šamoto keramikos” įmonė savo veiklą vykdo nuo 1990 metų. Įmonė gamina dekoratyvinės bei taikomosios keramikos dirbinius sodui ir namams.'
              link=ml.contact.href
              button='Susisiekite'
            }}
          </div>
        </section>

        <section class="features">
            <div class="row u-flex-center u-flex-wrap">
                {{>components/features-card}}
            </div>
        </section>

    {{>modules/cta}}

    </main>

{{>base/footer
  bodyClasses=bodyClasses
}}