{{>base/head
  bodyClasses=bodyClasses
}}

    {{!-- Here goes header and header navigation modules, if needed --}}
    {{>modules/header
        extraHeaderClasses=''
    }}

    <main>
        {{!-- Here goes all content of the "main" tag --}}
        <h1>{{titleize "this is title case"}}</h1>

    </main>

{{>base/footer
  bodyClasses=bodyClasses
}}


{{!-- {{/extend}} --}}