{{>base/head
  bodyClasses=bodyClasses
}}

    {{!-- Here goes header and header navigation modules, if needed --}}
    {{>modules/header
        extraHeaderClasses=''
    }}

    <main>
        {{!-- Here goes all content of the "main" tag --}}
        <section class="hero">
          <div class="hero-text-box">
            <h1 class="hero-text-box__title">{{ siteDescription }}</h1>
            <p class="hero-text-box__text">20 metų gaminame kartų kartoms.</p>
            <div class="hero-text-box__button-container">
              <button class="button-primary button-margin-right">Produktai</button>
              <button class="button-secondary">Susisiekite</button>
            </div>
          </div>
        </section>

    </main>

{{>base/footer
  bodyClasses=bodyClasses
}}


{{!-- {{/extend}} --}}