{{>base/head
  bodyClasses=bodyClasses
}}

    {{>modules/header
        extraHeaderClasses=''
    }}

    <main>

        <section class="products">
            <div class="row u-flex u-justify-end u-mb-2">
                <div class="js-custom-select samotas-select">
                    <select name="product-categories" id="product-categories">
                        {{#each categories}}
                            <option value="{{title}}">{{title}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="row u-flex-center u-flex-wrap">
                {{#each products}}
                        {{>components/img-with-box-small}}
                {{/each}}
            </div>
        </section>

    {{>modules/cta}}

    </main>

{{>base/footer
  bodyClasses=bodyClasses
}}