// ROOTS

$hero-image: '../images/hero-photo.jpg';

// FONTS:

$f-ultralight: 100;

// COLORS

$color-primary: #8B3B3B;
$color-secondary: #CBE1EA;
$color-pharlap: #A68689;
$color-martini: #AC9C9C;
$color-black: #080303;
$color-white: #fff;

// MEASURES
$row-width: 114rem;