// FONTS:

$f-ultralight: 100;
$f-extralight: 100;
$f-semi-light: 200;
$f-thin: 200;
$f-light: 300;
$f-regular: 400;
$f-normal: 400;
$f-medium: 500;
$f-semibold: 600;
$f-demibold: 600;
$f-bold: 700;
$f-heavy: 800;
$f-extrabold: 800;
$f-black: 900;

$font-gotham: 'Gotham', Helvetica, Arial, sans-serif;
$font-bebas_neue: 'Bebas Neue', Helvetica, Arial, sans-serif;
$font-lato: 'Lato', Helvetica, Arial, sans-serif;

$font-btn: $font-lato;
$font-link: $font-gotham;
$font-main: $font-gotham;