// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@mixin generateFont($local-font, $font-family, $font-root, $filename, $weight, $style) {
  font-family: $font-family;
  src: url('#{$font-root}#{$filename}.eot?#iefix') format('embedded-opentype'),
  url('#{$font-root}#{$filename}.woff') format('woff'),
  url('#{$font-root}#{$filename}.ttf')  format('truetype'),
  url('#{$font-root}#{$filename}.svg##{$local-font}') format('svg');
  font-weight: $weight;
  font-style: $style;
}
@mixin generateGothamFont($filename, $weight, $style: normal) {
  $font-root: '../fonts/gotham/';
  $font: 'Gotham';
  @include generateFont($filename, $font, $font-root, $filename, $weight, $style);
}
@mixin generateBebasNeueFont($filename, $weight, $style: normal) {
  $font-root: '../fonts/bebasneue/';
  $font: 'Bebas Neue';
  @include generateFont($filename, $font, $font-root, $filename, $weight, $style);
}

@font-face {
  @include generateGothamFont('gotham-light', 300);
}
@font-face {
  @include generateGothamFont('gotham-medium', 500);
}
@font-face {
  @include generateGothamFont('gotham-bold', 700);
}
@font-face {
  @include generateBebasNeueFont('bebasneuebold', 700);
}

// ICONS FONT:
$f-icon-version: 'bgppb8';
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.ttf?#{$f-icon-version}') format('truetype'),
        url('../fonts/icomoon.woff?#{$f-icon-version}') format('woff'),
        url('../fonts/icomoon.svg?#{$f-icon-version}#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$f-icons: 'icomoon';

.ic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $f-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

@mixin insertIcon($icon) {
  font-family: $f-icons;
  content: unicode($icon);
}

$icons: (
  ic-burger: \e900,
  ic-close-lock: \e90d,
  ic-collapse: \e90e,
  ic-email: \e910,
  ic-foreign-policy: \e911,
  ic-plus: \e913,
  ic-printer: \e914,
  ic-social-policy: \e916,
  ic-climate: \e901,
  ic-economy: \e902,
  ic-facebook: \e903,
  ic-foreign-policy1: \e904,
  ic-governance: \e905,
  ic-health: \e906,
  ic-instagram: \e907,
  ic-nc-logo: \e908,
  ic-nc-logo-white: \e909,
  ic-social-policy1: \e90a,
  ic-twitter: \e90b,
  ic-view: \e90c,
);

@each $icon, $value in $icons {
  .#{$icon} {
    &:before {
      content: unicode($value);
    }
  }
}
