@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/variables';

// 2. Vendors
// @import
//   'vendors/...';

// 3. Base stuff
@import
  'base/base',
  'base/animations',
  'base/fonts',
  'base/typography',
  'base/utilities';

// 4. Components
// @import
//   'components/...';

// 5. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 6. Page-specific styles
// @import
//   'pages/...';
