.carousel {
    height: 100%;
    overflow: hidden;
    background-color: #fff;
  }

.carousel .flickity-viewport {
    height: 300px;
}

 .carousel-cell {
    height: 100%;
}

.carousel-image {
    height: 100%;
}