.img-with-box {
    display: flex; }
    .img-with-box__img {
      max-height: 50rem;
      display: block; }
    .img-with-box__box {
      border: 1rem solid #8c4219;
      padding: 2rem;
      background-color: #fff;
      margin-top: 4rem;
      margin-left: -12rem;
      align-self: flex-start; }
      @media only screen and (max-width: 58.125em) {
        .img-with-box__box {
          margin-top: 7rem;
          margin-left: -30rem; } }
      @media only screen and (max-width: 42.5em) {
        .img-with-box {
          flex-wrap: wrap;
        }
        .img-with-box__img {
          max-height: none;
          width: 100%; }
        .img-with-box__box {
          margin: 0; } }
    .img-with-box__text {
      font-size: 1.6rem;
      margin: 1.5rem 0 2.5rem 0; }