.header {
    background-color: $color-primary;
    padding: 1rem;
    font-size: 1.7rem;
    z-index: 9999;
}

.logo {
    font-size: 3rem;

    &__link {
        text-decoration: none;
        color: $color-white;
    }
}

.nav-header-wrap {
    display: flex;
    align-items: center;

    @include respond(br680) {
        display: none;
    }

    &--mobile {
        width: 100%;
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 0 2rem 2rem;
        z-index: 9999;
    }
}

.nav-header {
    margin-right: 1rem;

    &__list {
        list-style: none;

        display: flex;
        align-items: center;

        @include respond(br680) {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: flex-start;
        }
    }

    &__item {
        padding: 1rem 2rem;
    }

    &__link:link,
    &__link:visited {
        color: $color-secondary;
        text-decoration: none;
    }

    &__link::after {
        display: block;
        content: "";
        width: 0;
        visibility: hidden;
        opacity: 0;
        height: 3px;
        background-color: $color-secondary;
        transition: width .3s;
    }

    &__link:hover::after,
    &__link:active::after {
        width: 100%;
        visibility: visible;
        opacity: 1;
    }

    &__button {
        display: none;

        border: none;
        background: transparent;

        @include respond(br680) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        margin: 0;
        fill: $color-secondary;
        font-family: inherit;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;

        &--hidden {
            display: none;
        }
    }
}