<section class="cta">
    <div class="cta__wrapper">
        <h2 class="heading-primary">Susisiekite</h2>
        <p class="cta__text">{{ texts.cta }}</p>
        <figure class="cta__number">+370 600 115 96</figure>
    </div>
</section>