<header class="header {{extraHeaderClasses}}">
    <div class="logo">Logo</div>
    {{>modules/nav-header}}
    <div class="header-button">
        <button class="button-primary">Produktai</button>
    </div>
</header>