<header class="header {{extraHeaderClasses}}">
    <div class="row-big u-flex-center">
        <div class="logo">Logo</div>
        <div class="nav-header-wrap">
            {{>modules/nav-header}}
            <a href="#" class="button button-primary">Produktai</a>
        </div>
    </>
</header>