<div class="img-with-box">
    <img src="{{roots.images}}about-section.jpg" alt="Apie mus" class="img-with-box__img">
    <div class="img-with-box__box">
        <h2 class="heading heading--secondary">Apie mus</h2>
        <p class="img-with-box__text">{{ texts.about }}</p>
        <a href="#" class="button button-secondary">Sužinoti daugiau</a>
    </div>
</div>