<div class="popup popup__hidden">
    <div class="popup__header"><button class="popup__button-close">&times;</button></div>
    <div class="popup__img-wrap"><img src="../assets/images/product-1.jpg" alt="Vazonas" class="popup__img"></div>
    <div class="popup__content">
        <h2 class="heading heading--secondary">KODAS: 7.26 O28 H96</h2>
        <div class="popup__text">Grakščių linijų papuoš kiekvienus namus.</div>
        <a href="" class="button button-primary">Susisiekite</a>
    </div>
</div>
<div class="popup__overlay popup__hidden"></div>